<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top bg-dark">
        <div class="container">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                 
                </button>*@
                @Html.Label("Custom Report", new { @class = "navbar-brand text-light display-4", style = "font-size:25px" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
            <div>
                @if(Session["visited"]!=null){
                    Html.ActionLink("Signout", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-light display-4", style = "font-size:20px" });
                        }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer class="fixed-bottom">
    
        </footer>
    </div>

</body>
</html>
