@model distribution_copy.Models.InputModel

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}



<style>
    .sizeNormal {
        font-size: 16px;
    }

    .borderRadius {
        border-radius: 10px;
    }
</style>


<script>

    var i = 0;
    var t;
    function disable() {
        if ((document.getElementById("org").value == "") || (document.getElementById("pat").value == "")) {
            document.getElementById("submit").disabled = true;
        }
        else
            document.getElementById("submit").disabled = false;
    }

    function populateProjects() {
        var o = document.getElementById("org");
        var ORG = o.options[o.selectedIndex].text;
        if (ORG == "--Choose Organisation--") {
            return;
        }


        $.ajax({
            type: "POST",
            url: '@Url.Action("ProjectList", "Account")',
            data: { ORG },

            success:
                function(data) {
                    console.log(data);
                    document.getElementById("ProjectName").innerHTML = "<option value='0'>--ALL--</option>";
                    for (let i = 0; i < data.length; i++) {
                        document.getElementById("ProjectName").innerHTML += "<option value='" + data[i].Name + "'>" + data[i].Name + "</option>";
                    }
                }
            ,
            failure:
                function() { alert("Something went wrong, Please try Again"); }

        });

    }

    function filter() {
        document.getElementById('load').hidden = false;
        document.getElementById('Count').hidden = true;
        document.getElementById('table').hidden = true;

        var o = document.getElementById("org");
        var p = document.getElementById("ProjectName");
        var AssignedTo = document.getElementById("AssignedTo");
        var Sprint = document.getElementById("Sprint");
        var State = document.getElementById("State");
        var CreatedDate = document.getElementById("CreatedDate");
        var w = document.getElementById("WorkItemType");
        var inp = new Object();
        if (o.options[o.selectedIndex].value == "0")
            inp.OrganizationName = null;
        else
            inp.OrganizationName = o.options[o.selectedIndex].text;

        if (p.options[p.selectedIndex].value == "0") {
            document.getElementById("filters").hidden = true;
            inp.ProjectName = null;

        }
        else
            inp.ProjectName = p.options[p.selectedIndex].text;

        if (w.options[w.selectedIndex].value == "0")
            inp.WorkItemType = null;
        else
            inp.WorkItemType = w.options[w.selectedIndex].text;
               

        if (AssignedTo.options[AssignedTo.selectedIndex].value == "0")
            inp.AssignedTo = null;
        else
            inp.AssignedTo = AssignedTo.options[AssignedTo.selectedIndex].text;

        if (Sprint.options[Sprint.selectedIndex].value == "0")
            inp.Sprint = null;
        else
            inp.Sprint = Sprint.options[Sprint.selectedIndex].text;

        if (CreatedDate.value == null ||CreatedDate.value== "") {
            inp.CreatedDate = null;

        } else
            inp.CreatedDate = CreatedDate.value;

        if (State.options[State.selectedIndex].value == "0")
            inp.State = null;
        else
            inp.State = State.options[State.selectedIndex].text;

        console.log(inp);
        $.ajax({
            type: "POST",
            url: '@Url.Action("Filter", "Account")',
            data: { 'inp':  inp , 'loc': 0 },
            success:
                function (data) {
                    console.log(data);
                    var table = document.getElementById("table");
                    document.getElementById("exc").disabled = false;

                    data = JSON.parse(data);
                    console.log(data);


                    if (i > 0) {
                          $('#dataTable').DataTable().destroy();
                           document.getElementById("table").innerHTML = "";
                    }
                    var tabledata;
                    if (data.length > 0) {
                        tabledata = "<table id='dataTable'><thead> <tr><th>Id</th><th>Title</th><th>Project</th><th>Sprint</th><th>State</th><th>Type</th></tr></thead><tbody class='text-dark'>";
                        for (let i = 0; i < data.length; i++) {
                            tabledata += "<tr><td style=''>" + data[i].id + "</td><td><a href='https://dev.azure.com/" + inp.OrganizationName + "/" + data[i]["fields"]["System.TeamProject"] + "/_workitems/edit/" + data[i].id + "' target='_blank'>" + data[i]["fields"]["System.Title"] + "</a></td><td>" + data[i]["fields"]["System.TeamProject"] + "</td><td>" + data[i]["fields"]["System.IterationPath"] + "</td><td>" + data[i]["fields"]["System.State"] + "</td><td>" + data[i]["fields"]["System.WorkItemType"] + "</td></tr>";
                        }
                        document.getElementById("Count").innerHTML = " Count = " + data.length;
                        tabledata += "</tbody></table>";
                        table.innerHTML = tabledata;
                        $('#dataTable').DataTable();
                        $('#dataTable').addClass('table table-dark table-borderless');
                        $('#dataTable.thead').addClass('text-light');
                        $('div.thead').addClass('text-light');
                        $(".current").addClass("bg-primary");
                    }
                    else{
                        tabledata = "<table id='dataTable'><thead class='borderRadius'> <tr><th>Id</th><th>Title</th><th>Project</th><th>Sprint</th><th>State</th><th>Type</th></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody><table>";
                        table.innerHTML = tabledata;
                        $('#dataTable').DataTable();                 
                        $('#dataTable').addClass('table table-dark ');
                        $('#dataTable.thead').addClass('text-light');
                        $('div.thead').addClass('text-light');
                    }
                    console.log(tabledata);
                    document.getElementById("Count").innerHTML = " Count : " + data.length;
                    i++;
                    document.getElementById('load').hidden = true;
                    document.getElementById("table").hidden = false;
                    document.getElementById('Count').hidden = false;
                }
            ,
            failure:
                function () {
                    alert("Something went wrong");
                }
        });

    }


    function populateAll() {
         var o = document.getElementById("org");
         var inp = new Object();
         inp.OrganizationName = o.options[o.selectedIndex].text;

         if (inp.OrganizationName == "--Choose Organisation--")
         {
            return;
         }
         var p = document.getElementById("ProjectName");
         inp.ProjectName = p.options[p.selectedIndex].text;
         if (inp.ProjectName == "--ALL--") {
            populateWorkItemTypes();
            document.getElementById("filters").hidden = true;
            document.getElementById("AssignedTo").disabled = true;
            document.getElementById("Sprint").disabled = true;
            document.getElementById("State").disabled = true;
            document.getElementById("CreatedDate").disabled = true;
            return;
        }
        else {
            document.getElementById("filters").hidden = false;
            document.getElementById("AssignedTo").disabled = false;
            document.getElementById("Sprint").disabled = false;
            document.getElementById("State").disabled = false;
            document.getElementById("CreatedDate").disabled = false;
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("AllList", "Account")',
            data: { inp },

            success:
                function(data) {
                    console.log(data);
                        document.getElementById("CreatedDate").value = "";

                    document.getElementById("AssignedTo").innerHTML = "<option value='0'>--ALL--</option>";
                    for (let i = 0; i < data[0].length; i++) {
                        document.getElementById("AssignedTo").innerHTML += "<option value='" + data[0][i] + "'>" + data[0][i]+ "</option>";
                    }
                    document.getElementById("Sprint").innerHTML = "<option value='0'>--ALL--</option>";
                    for (let i = 0; i < data[1].length; i++) {
                        document.getElementById("Sprint").innerHTML += "<option value='" + data[1][i] + "'>" + data[1][i]+ "</option>";
                    }
                    document.getElementById("State").innerHTML = "<option value='0'>--ALL--</option>";
                    for (let i = 0; i < data[2].length; i++) {
                        document.getElementById("State").innerHTML += "<option value='" + data[2][i] + "'>" + data[2][i]+ "</option>";
                    }
                     document.getElementById("WorkItemType").innerHTML = "<option value='0' >--ALL--</option>";
                    for (let i = 0; i < data[3].length; i++) {
                        document.getElementById("WorkItemType").innerHTML += "<option value='" + data[3][i] + "'>" + data[3][i]+ "</option>";
                    }
                    filter();

                }
            ,
            failure:
                function() { alert("Something went wrong"); }
        });

    }

    function populateWorkItemTypes() {
        document.getElementById('Count').hidden = true;
        document.getElementById("table").hidden = true;
        document.getElementById('load').hidden = false;
        document.getElementById("AssignedTo").disabled = true;
        document.getElementById("Sprint").disabled = true;
        document.getElementById("State").disabled = true;
        document.getElementById("CreatedDate").disabled = true;
        document.getElementById("CreatedDate").value = "";
         document.getElementById("WorkItemType").innerHTML = "<option value='0' >--ALL--</option>";
         document.getElementById("AssignedTo").innerHTML = "<option value='0' >--ALL--</option>";
         document.getElementById("State").innerHTML = "<option value='0' >--ALL--</option>";
         document.getElementById("Sprint").innerHTML = "<option value='0' >--ALL--</option>";

        var inp = new Object();
        var o = document.getElementById("org");
        inp.OrganizationName = o.options[o.selectedIndex].text;
        document.getElementById("ProjectName").innerHTML = "<option value='0'>--ALL--</option>";


        if (inp.OrganizationName == "--Choose Organisation--") {
         document.getElementById('filters').hidden = true;

            document.getElementById('load').hidden = true;
            return;
        }
         document.getElementById('filters').hidden = true;

        $.ajax({
            type: "POST",
            url: '@Url.Action("WITypes", "Account")',
            data: { inp },

            success:
                function(data) {
                    console.log(data);
                    document.getElementById("WorkItemType").innerHTML = "<option value='0' >--ALL--</option>";
                    for (let i = 0; i < data.length; i++) {
                        document.getElementById("WorkItemType").innerHTML += "<option value='" + data[i] + "'>" + data[i] + "</option>";
                    }
                    populateProjects();
                    if (data.length > 0) {
                        filter();
                    }
                    else {
                        document.getElementById("Count").innerHTML = "Count : 0"
                        document.getElementById("Count").hidden = false;
                       document.getElementById("load").hidden = true;
                        document.getElementById("table").innerHTML = "No Data";
                    }
                },
           failure:
                function() { alert("Something went wrong"); }

        });


    }
</script>


<div class="form-horizontal" style="font-size:16px;margin-left:1.5%">

    <form action="~/Account/Export" method="post" class="mt-3">
        <div class="form-row">
            <div class="col-xs-4">

                @Html.Label("Organization", htmlAttributes: new { @class = "control-label display-4  sizeNormal", style = "padding-right:40px" })

                @Html.DropDownListFor(model => model.OrganizationName, new SelectList(new[] { "Empty List" }), htmlAttributes: new { @class = "form-control borderRadius width", id = "org", onchange = "populateWorkItemTypes()", style = "opacity:0.8;" })

                @Html.ValidationMessageFor(model => model.OrganizationName, "", new { @class = "text-danger" })

            </div>
            <div class="col-xs-4 ml-5">

                @Html.Label("Project Name ", htmlAttributes: new { @class = "control-label  display-4 sizeNormal", style = "padding-right:35px" })

                @Html.DropDownListFor(model => model.ProjectName, new SelectList(new[] { "Empty List" }), htmlAttributes: new { @class = "form-control borderRadius width", id = "ProjectName", onchange = "populateAll()", style = "opacity:0.8" })

                @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })

            </div>

            <div class="ml-5">

                @Html.Label("Work Item Type", htmlAttributes: new { @class = "control-label  display-4 sizeNormal", style = "padding-right:21px" })

                @Html.DropDownListFor(model => model.WorkItemType, new SelectList(new[] { "Empty List" }), htmlAttributes: new { @class = "form-control borderRadius width", id = "WorkItemType", onchange = "filter()", style = "opacity:0.8" })

                @Html.ValidationMessageFor(model => model.WorkItemType, "", new { @class = "text-danger" })

            </div>
            <div class="mt-30px">
                <button id="exc" type="submit" class="btn btn-success ml-5" disabled>Download Excel</button>
            </div>
        </div>
        <p style="font-size:10px">Note:"Please Choose a Project if not Chosen to Access Filters."</p>


        <div>
            <div id="filters" class="form-row" hidden>
                <div class="pl-5">

                    @Html.Label("Assigned To ", htmlAttributes: new { @class = "control-label  display-4 sizeNormal ", style = "" })

                    @Html.DropDownListFor(model => model.AssignedTo, new SelectList(new[] { "Empty List" }), htmlAttributes: new { @class = "form-control borderRadius fwidth", id = "AssignedTo", onchange = "filter()", style = "opacity:0.8" })
                
                </div>
                <div class="pl-5">

                    @Html.Label("Sprint ", htmlAttributes: new { @class = "control-label  display-4 sizeNormal ", style = "" })

                    @Html.DropDownListFor(model => model.Sprint, new SelectList(new[] { "Empty List" }), htmlAttributes: new { @class = "form-control borderRadius fwidth", id = "Sprint", onchange = "filter()", style = "opacity:0.8" })

                </div>
                <div class="pl-5">

                    @Html.Label("Created Date ", htmlAttributes: new { @class = "control-label  display-4 sizeNormal ", style = "" })

                    @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control borderRadius fwidth", id = "CreatedDate", type = "date", onchange = "filter()" } })
                
                </div>
                <div class="pl-5">

                    @Html.Label("State ", htmlAttributes: new { @class = "control-label  display-4 sizeNormal ", style = "" })

                    @Html.DropDownListFor(model => model.State, new SelectList(new[] { "Empty List" }), htmlAttributes: new { @class = "form-control borderRadius fwidth", id = "State", onchange = "filter()", style = "opacity:0.8" })
                
                </div>
            </div>
        </div>

    </form>
    <img id="load" style="margin-left:45%" height="100" width="100" src="~/Content/Images/loadinggif.gif" hidden />
    <div><p id="Count" class="display-4" style="font-size:15px"></p></div>
    <div id="table">


    </div>
</div>
<script>

    $(document).ready(function () {
     $.ajax({
                type: 'get',
                dataType: 'json',
                url: '@Url.Action("AccountList","Account")',
                success: function (data) {
                var s = '<option value="0">--Choose Organisation--</option>';
                $("#org").empty();
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].accountName + '">' + data[i].accountName + '</option>';
                    }
                $("#org").append(s);
                }
            });
    });

</script>
<style>
    input[type=search] {
        width: 220px;
        height: 30px;
        padding: 6px 12px;
        font-size: 12px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 6px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        margin-right: 20px;
    }

    select[name=dataTable_length] {
        width: 70px;
        height: 30px;
        padding: 6px 12px;
        font-size: 12px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 6px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    }

    .width {
        width: 250px;
    }

    .fwidth {
        width: 200px;
    }

    table {
        border-collapse: collapse;
        border-radius: 3px;
        border-style: hidden; /* hide standard table (collapsed) border */
        box-shadow: 0 0 0 1px #666; /* this draws the table border  */
    }

    td {
        border: 1px solid #ccc;
    }

    table {
        border-collapse: collapse;
    }

        table td {
            border: 5px solid black;
        }

        table tr:first-child td {
            border-top: 0;
        }

        table tr td:first-child {
            border-left: 0;
        }

        table tr:last-child td {
            border-bottom: 0;
        }

        table tr td:last-child {
            border-right: 0;
        }

    .select {
        height: 25px;
        overflow: scroll;
    }
</style>
